<div class="wrapper-content">

  <div class="box-tile">
  
  <h1 class="typing-element"><b class="tag">#</b>Transporte com segurança</h1>
    <button class="btn btn-home-cadastro-regras" (click)="linkCalculadora()">Calcule o Frete</button>
  </div>
  
  <div class="bg_img"></div>
  
  </div>