<div class="wrapper-header">

  <div class="row">
  
  <div class="col-xs-12 col-md-8">
  
  <ul class="menu-header">
  
  <li class="header-options" (click)="linkCidades()">Cidades</li>
  
  <li class="header-options" (click)="linkRegras()">Regras</li>
  
  <li class="header-options" (click)="linkRegras()">Versões</li>
  
  </ul>
  
  </div>
  
  <div class="col-xs-12 col-md-4">
  
  <form>
  
  <div class="form-row align-items-center">
  
  <div class="col-auto my-1">
  
  <div class="form-check">
  
    <img src="../assets/img/192.png" height="80" width="80" (click)="linkHome()"/>
    
  
  
  </div>
  
  </div>
  
  
  
  </div>
  
  </form>
  
  </div>
  
  </div>
  
  </div>