<div class="wrapper">

  <div class="topicos">
  
  <div class="container">
  
  <div class="row">
  
  <div class="col-3">
  
  <ul class="topicos-footer">
  
  <h6>ENDEREÇO</h6>
  
  <li>Matriz</li>
  
  <li>Rua São João, 320</li>
  
  <li>Bairro Viktor Conde ► CEP 45006-000</li>
  
  <li>Gremenault - Santa Juliana</li>
  
  </ul>
  
  </div>
  
  <div class="col-3">
  
  <ul class="topicos-footer">
  
  <h6>LANCRUX</h6>
  
  <li>Quem Somos</li>
  
  <li>Contato</li>
  
  </ul>
  
  </div>
  
  <div class="col-3">
  
  <ul class="topicos-footer">
  
  <h6>TMS LANCRUX</h6>
  
  <li>Benefícios</li>
  
  <li>Funcionalidades </li>
  
  </ul>
  
  </div>
  
  </div>
  
  </div>
  
  </div>
  
  <footer class="rodape">
  
  <p class="text-center">&copy; Todos os Direitos reservados a
  
  <b>Hell Schmied</b>
  
  </p>
  
  </footer>
  
  </div>