<div class="container">

  <div class="row box-cadastro">
  
    <div class="col-12">
    
      <h3 class="tp20 text-center">Calcular o valor do frete</h3>
      
      <form name="form" [formGroup]="calculateForm" (ngSubmit)="onSubmit()" class="mt-5 text-center">
      
        <div class="form-group">
        
            <select  class="form-control" formControlName="origem" required [ngClass]="{ 'is-invalid': submitted && f.origem.invalid }" > 
                <option disabled>Cidade Origem</option>
                <option *ngFor="let origem of data;" [value]="origem.id">{{origem.name}} - {{origem.estado.name}}</option>
            </select>
            <div *ngIf="submitted && f.origem.invalid" class="invalid-feedback left">
                <div *ngIf="f.origem.errors.required">Origem é obrigatório</div>
            </div>
        </div>
        
        <div class="form-group">
        
            <select  class="form-control" formControlName="destino" required [ngClass]="{ 'is-invalid': submitted && f.destino.invalid }">
                <option disabled>Cidade Destino</option>
                <option *ngFor="let destino of data;" [value]="destino.id" >{{destino.name}} - {{destino.estado.name}}</option>
            </select>
            <div *ngIf="submitted && f.destino.invalid" class="invalid-feedback left">
              <div *ngIf="f.destino.errors.required">Destino é obrigatório</div>
          </div>
        
        </div>
        
        <div class="form-group">
        
          <input type="number" formControlName="peso" class="form-control cadastro"  placeholder="Peso Total"  [ngClass]="{ 'is-invalid': submitted && f.peso.invalid }" required> 
          <div *ngIf="submitted && f.peso.invalid" class="invalid-feedback left" >
            <div *ngIf="f.peso.errors.required">Peso é obrigatório</div>
        </div>
        
        </div>
       
        <div class="form-group">
        <button class="btn lancrux-btn btn-outline-primary center-block bt40" type="submit">Calcular</button>
      </div>
      </form>

      
      <input type="number" formControlName="total" [value]="total" class="form-control cadastro bt40"  placeholder="Valor Total"  readonly> 
    
    </div>
  
  </div>

 

  </div>
  