<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cadastrar</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Atualizar</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Remover</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-contact" aria-selected="false">Listar</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      

        <div class="row box-cadastro">
        
        <div class="col-12">
        
        <h3 class="text-center">Cadastro Regras</h3>
        
        <form class="mt-5">
        
        <div class="form-group">
        
        <input type="text" class="form-control cadastro" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
        
        </div>
        
        <div class="form-group">
        
        <input type="number" class="form-control cadastro" id="exampleInputPassword1" placeholder="CPF">
        
        </div>
        
        <div class="form-group">
        
        <input type="email" class="form-control cadastro" id="exampleInputPassword1" placeholder="E-mail">
        
        </div>
        
        <div class="form-group">
        
        <input type="tel" class="form-control cadastro" id="exampleInputPassword1" placeholder="Telefone">
        
        </div>
        
        <div class="form-group" >
        
        
        
        </div>
        
        
        </form>
        
        </div>
        
        </div>
        
        

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="row box-cadastro">
        
        <div class="col-12">
        
        <h3 class="text-center">Atualização de Regras</h3>
        
        <form class="mt-5">
        
        <div class="form-group">
        
        <input type="text" class="form-control cadastro" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
        
        </div>
        
        <div class="form-group">
        
        <input type="number" class="form-control cadastro" id="exampleInputPassword1" placeholder="CPF">
        
        </div>
        
        <div class="form-group">
        
        <input type="email" class="form-control cadastro" id="exampleInputPassword1" placeholder="E-mail">
        
        </div>
        
        <div class="form-group">
        
        <input type="tel" class="form-control cadastro" id="exampleInputPassword1" placeholder="Telefone">
        
        </div>
        
        <div class="form-group" >
        
        
        
        </div>
        
        
        </form>
        
        </div>
        
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row box-cadastro">
        
            <div class="col-12">
            
            <h3 class="text-center">Remover Regras</h3>
            
            <form class="mt-5">
            
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            
            
            </form>
            
            </div>
            
            </div>

    </div>

    
    <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="row box-cadastro">
        
            <div class="col-12">
            
            <h3 class="text-center">Listar Regras</h3>
            
            <form class="mt-5">
            
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            
            
            </form>
            
            </div>
            
            </div>

    </div>
  </div>