/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";


.tp20{
    margin-top: 20px;
}

.bt40{
    margin-bottom: 40px;
}

.lancrux-btn:hover{
    color: #ffffff;
    background-color: #201547;
}

.left{
    text-align: left;
}